@model User
 
@{
    ViewBag.Title = "Service Request";
    Layout = "_Layout2";
}

<div class="container-details text-center">
    <div class="title d-flex justify-content-between">
        <h3>Service History</h3>
        <button class="blue">Export</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><span>Service details<img src="~/image/sort.png" alt="Sort"></span></th>
                <th><span>Service Provider<img src="~/image/sort.png" alt="Sort"></span></th>
                <th><span>Payment<img src="~/image/sort.png" alt="Sort"></span></th>
                <th><span>Status<img src="~/image/sort.png" alt="Sort"></span></th>
                <th><span>Status<img src="~/image/sort.png" alt="Sort"></span></th>
                <th><span>Rate SP<img src="~/image/sort.png" alt="Sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr id="service" class="text-start">
                <td id="table-item-2">
                    <span id="t-bold">
                        <img src="~/image/calendar.png"
                             alt="Sort">09/04/2018
                    </span>
                    <br><span>12:00 - 08:00</span>
                </td>
                <td id="rating">
                    <div class="rating d-flex">
                        <img id="image4" src="~/image/cap.png" alt="Sort">
                        <div class="r-details d-flex flex-column">
                            <p>Lyum Watson</p>
                            <div class="star d-flex">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star2.png" alt="">
                                <p>4</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td id="table-btn-2">
                    <span id="Price">&euro;<p>63</p></span>
                </td>
                <td class="button" id="table-btn-2">
                    <button class="green">Completed</button>
                </td>
                <td class="button" id="table-btn">
                    <button class="blue">Rate SP</button>
                </td>
            </tr>
            <tr id="service" class="text-start">
                <td id="table-item-2">
                    <span id="t-bold">
                        <img src="~/image/calendar.png"
                             alt="Sort">09/04/2018
                    </span>
                    <br><span>12:00 - 08:00</span>
                </td>
                <td id="rating">
                    <div class="rating d-flex">
                        <img id="image4" src="~/image/cap.png" alt="Sort">
                        <div class="r-details d-flex flex-column">
                            <p>Lyum Watson</p>
                            <div class="star d-flex">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star1.png" alt="">
                                <img src="~/image/star2.png" alt="">
                                <p>4</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td id="table-btn-2">
                    <span id="Price">&euro;<p>63</p></span>
                </td>
                <td class="button" id="table-btn-2">
                    <button class="pink">Cancelled</button>
                </td>
                <td class="button" id="table-btn">
                    <button class="blue">Rate SP</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="table-row-number" class="d-flex justify-content-between">
        <div class="details d-flex">
            <p>Show</p>
            <div class="drop-down">
                <select name="Total Entries" id="1">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
            <p id="p3">Entries</p>
            <p>Total Recored: 55</p>
        </div>
        <div class="numbers">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>