@model RegisterViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout1";
    var id = ViewBag.Data;
}

<!-- Change Password -->
    <section class="create-account">
        <div class="faq-section">
            <div class="container text-center">
                <h2>Change Password</h2>
                <div class="d-flex justify-content-center">
                    <div class="line1"></div>
                    <img src="~/image/forma-1-copy-5.png">
                    <div class="line2"></div>
                </div>
            </div>
            <div class="change-password">
                <div class="register-form">
                    <form asp-action="ChangePassword">
                        <div class=mb-4>
                            <input asp-for="UserId" value=@id hidden/>
                            <label class="form-label">New Password</label>
                            <input asp-for="Password" class="mt-1 form-control reg-form" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label mb-0">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="mt-1 form-control reg-form" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="reg-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>