@model ContactU;
@{
    ViewBag.Title = "Contact";
    Layout = "_Layout1";
}

<!-- Banner -->
<div class="banner">
        <img src="~/image/group-16_2.png" alt="FAQ-Banner">
</div>

<!-- Contact Us -->
<section class="contact">
        <div class="faq-section">
            <div class="container text-center">
                <h2>Contact us</h2>
                <div class="d-flex justify-content-center">
                    <div class="line1"></div>
                    <img src="~/image/forma-1-copy-5.png">
                    <div class="line2"></div>
                </div>
                <div class="contact-info">
                    <div class="row align-items-center text-center">
                        <div class="col-lg-4 mb-3">
                            <img src="~/image/forma-1_2.png" alt="Address">
                            <p>1111 Lorem ipsum text 100,</p>
                            <p>Lorem ipsum AB</p>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <img src="~/image/phone-call.png" alt="Phone">
                            <p>+49 (40) 123 56 7890</p>
                            <p>+49 (40) 987 56 0000</p>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <img src="~/image/Email.png" alt="">
                            <p>info@helperland.com</p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="getin-touch">
                    <h3>Get in touch with us</h3>
                    <form asp-action="Contact">
                        <div class="form-container">
                            <div class="form-group">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-6 col-sm-12 mb-3">
                                        <input asp-for="Name" id="name" class="form-control form-1" placeholder="First name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 mb-3">
                                        <input asp-for="Name" id="name" class="form-control form-1" placeholder="Last name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-6 col-sm-12 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                            <input asp-for="PhoneNumber" class="form-control form-1" placeholder="Mobile Number"
                                            aria-label="mobilenumber" aria-describedby="basic-addon1">    
                                        </div>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 mb-3">
                                        <input asp-for="Email" class="form-control form-1" placeholder="Email address">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <select asp-for="Subject" class="form-select form-1" aria-label="Default select example">
                                        <option selected></option>
                                        <option value="1">General</option>
                                        <option value="2">Inquiry</option>
                                        <option value="3">Renewal</option>
                                        <option value="4">Revocation</option>
                                    </select>
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3">
                                    <textarea asp-for="Message" class="form-control form-1" rows="5" id="comment" placeholder="Message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger mb-3"></span>
                                </div>

                                <button type="submit" class="blue form-1">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>

<!-- Banner -->
<div class="map">
        <div class="banner">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2525.317816682433!2d7.132833!3d50.732594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bee13f0afebfb1%3A0x7caeb94f4c1042fc!2sK%C3%B6nigswinterer%20Str.%20116%2C%2053227%20Bonn%2C%20Germany!5e0!3m2!1sen!2sus!4v1639648893776!5m2!1sen!2sus"
                width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
</div>

<!-- News Letter -->
<section class="faq-news">
        <div class="newsletter">
            <div class="container text-center">
                <h2>GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center alignitem-center">
                    <div class="form">
                        <input type="email" placeholder="YOUR EMAIL" id='email' class="ip-email">
                    </div>
                    <div class="form-grp">
                        <button class="red">Submit</button>
                    </div>
                </div>
            </div>
        </div>
</section>