@{
    ViewBag.Title = "HomePage";
    Layout = "_Layout";
}

<!-- Hero Banner -->
<section class="hero-banner">
            <div class="container">
                <h1>Lorem ipsum text</h1>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing</li>
                </ul>
            </div>
            <div class="text-center mt-5">
                <a asp-action="BookService" asp-controller="BookService" title="Let's Book a Cleaner" class="book-btn">Let's Book a Cleaner</a>
            </div>
            <div class="banner-step d-flex justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-12 order-1">
                        <div class="step">
                            <span>
                                <img src="image/forma-1-copy.png" alt="Enter Passcode">
                            </span>
                            <p>Enter Your Passcode</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 order-2">
                        <div class="step">
                            <span>
                                <img src="image/group-22.png" alt="Select Plan">
                            </span>
                            <p>Select your plan</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 order-3">
                        <div class="step">
                            <span>
                                <img src="image/forma-1.png" alt="Pay online">
                            </span>
                            <p>Pay securely online</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 order-4">
                        <div class="step">
                            <span>
                                <img src="image/forma-100.png" alt="Enjoy service">
                            </span>
                            <p>Enjoy amazing service</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-down">
                <a href="#why-helperland" title="Down" class="arrow-link">
                    <img src="image/white-down-arrow.png" alt="Scroll">
                </a>
            </div>
</section>

<!-- Why Helperland -->
<section class="why-helperland" id="why-helperland">
            <div class="container">
                <h2 class="text-center">Why Helperland</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="helper-img">
                            <img src="image/professionals.png" alt="Helper">
                        </div>
                        <h3 class="d-flex justify-content-center align-item-center">
                            Experience & Vetted Professionals
                        </h3>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="helper-img">
                            <img src="image/group-23.png" alt="Helper">
                        </div>
                        <h3 class="d-flex justify-content-center align-item-center">
                            Secure Online Payment
                        </h3>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="helper-img">
                            <img src="image/group-24.png" alt="Helper">
                        </div>
                        <h3 class="d-flex justify-content-center align-item-center">
                            Dedicated Customer Service
                        </h3>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                    </div>
                </div>
            </div>
</section>

<!-- Blog -->
<section class="blog">
            <div class="container">
                <div class="blog-1">
                    <div class="row align-item-center">
                        <div class="col-lg-7 col-md-6">
                            <h3>Lorem ipsum dolor, sit amet, consectetur </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                            <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                            <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="blog-img">
                                <img src="image/group-36.png" alt="Blog Image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog2">
                    <h2 class="text-center">Our Blog</h2>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 blog-box">
                            <div class="blog-detail">
                                <div class="blog-img">
                                    <img src="image/group-28.png" alt="Blog-1">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="read-more">Read the post<em><img src="image/shape-2.png" alt=""></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-box">
                            <div class="blog-detail">
                                <div class="blog-img">
                                    <img src="image/group-28.png" alt="Blog-1">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="read-more">Read the post<em><img src="image/shape-2.png" alt=""></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-box">
                            <div class="blog-detail">
                                <div class="blog-img">
                                    <img src="image/group-28.png" alt="Blog-1">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="read-more">Read the post<em><img src="image/shape-2.png" alt=""></em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- Customer Says -->
<section class="customer">
            <div class="container">
                <h2 class="text-center">What Our Customer Says</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="customer-say">
                            <div class="chat">
                                <em><img src="image/message.png" alt="Message"></em>
                            </div>
                            <div class="customer-info d-flex align-item-center">
                                <div class="customer-img">
                                    <img src="image/group-31.png" alt="Lary Watson">
                                </div>
                                <div class="customer-content">
                                    <span class="name">Lary Watson</span>
                                    <span class="city">Manchester</span>
                                </div>
                            </div>
                            <div class="personal">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="read-more">Read More<em><img src="image/shape-2.png" alt=""></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="customer-say">
                            <div class="chat">
                                <em><img src="image/message.png" alt="Message"></em>
                            </div>
                            <div class="customer-info d-flex align-item-center">
                                <div class="customer-img">
                                    <img src="image/group-32.png" alt="Lary Watson">
                                </div>
                                <div class="customer-content">
                                    <span class="name">John Smith</span>
                                    <span class="city">Manchester</span>
                                </div>
                            </div>
                            <div class="personal">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="read-more">Read More<em><img src="image/shape-2.png" alt=""></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="customer-say">
                            <div class="chat">
                                <em><img src="image/message.png" alt="Message"></em>
                            </div>
                            <div class="customer-info d-flex align-item-center">
                                <div class="customer-img">
                                    <img src="image/group-33.png" alt="Lary Watson">
                                </div>
                                <div class="customer-content">
                                    <span class="name">Lars Johnson</span>
                                    <span class="city">Manchester</span>
                                </div>
                            </div>
                            <div class="personal">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="read-more">Read More<em><img src="image/shape-2.png" alt=""></em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- News Letter -->
<section class="newsletter">
            <div class="container">
                <a href="#" id='scroll' title="scroll-up" class="scroll-up align-items-start justify-content-start"><img  class="image" src="image/up-arrow.png" alt="Scroll up"></a>
                <a href="#" title="message" class="message"><img src="image/layer-598.png" alt="Scroll up"></a>
                <h2 class="text-center">GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center alignitem-center">
                    <div class="form">
                        <!--   <label for="email">YOUR EMAIL</label> -->
                        <input type="email" placeholder="YOUR EMAIL" id='email' class="ip-email">
                    </div>
                    <div class="form-grp">
                        <button class="red">Submit</button>
                    </div>
                </div>
            </div>
</section>


    